
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width: 100vw;
    height: 100vh;
    
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}


.main-container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(206, 94%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 71vh;
    width: 53vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
}

.steps-container{
    display: flex;
    justify-content: center;
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps{
    height: 40.5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-left: 3px;
}
.step-outer{
    display: flex;
    color: white;
}
.steps-inner{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps-inner p{
    font-size: 0.75rem;
    font-weight: 400;
} 
.steps-inner h3{
    font-weight: 600;
    font-size: 0.95rem;
}
.circle{
    font-size: 0.95rem;
    font-weight: 600;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#circle-4{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    
}
.personal-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.per-content{
    height: 90%;
    /* padding: 1rem; */
    padding-left: 5.9rem;
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.7%;
}
.header-div h1{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}
.header-div p{
    font-weight: 500;
    color: hsl(231, 11%, 63%);
    font-size: 1rem;
}

.checkout{
    height: 80.5%;
    width: 84.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cost-list{
    height: 52%;
    padding: 1.65rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.finish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17%;
}

.finish h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(213, 96%, 18%);
}
.final-plan{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-bill{
    height: 38%;
}

.billing{
    height: 12%;
}



.btn-2-div{
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back{
    text-decoration: none;
    color: hsl(231, 11%, 63%);
    font-weight: 600;
}
.next{
    height: 100%;
    text-decoration: none;
}
.btn{
    height: 100%;
    width: 7.7rem;
    border-radius: 8px;
    border: none;
    background-color: hsl(243, 100%, 62%);
    color: white;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.btn:hover{
    opacity: 0.85;
}

.plan-bill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-money{
    display: flex;
    justify-content: space-between;
}
.add-money p{
    color: hsl(231, 11%, 63%);
}

.total-money{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}


hr{
    height: 1px;
    width: 100%;
    color: hsl(231, 11%, 63%);
}


#change{
    text-decoration: underline;
    font-size: 0.9rem;
    cursor: pointer;
}

#planPrice{
    color: hsl(213, 96%, 18%);
    font-weight: 600;
    font-size: 1rem;
}

#total-money{
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(243, 100%, 62%);
}

#tot{
    color: hsl(231, 11%, 63%);
}



@media screen and (max-width: 375px) {

    .main-container{
        display: block;
        bottom: 0;
        height: 100vh;
    }
    .container{
        height: auto;
        width: auto;
        flex-direction: column;
        padding: 0;
        background: url(../assets/images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        border-radius: 0;
    }

    .steps-container{
        width: 70%;
        height: auto;
        border: none;
        background: none;
        align-self: center;
    }

    .steps{
        flex-direction: row;
    }
    .steps-inner{
        display: none;
    }

    .personal-info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68vh;
    }
    .per-content{
        padding: 1.6rem;
        margin-top: 2rem;
        width: 79%;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    

    
    .btn-2-div{
        position: absolute;
        right: 0;
        bottom: -78px;
        width: 92vw;
        height: 2.9rem;
        padding: 1rem;
    }

    .btn{
        margin: 0;
    }
    .header-div{
        height: auto;
    }
    .header-div h1 {
        font-size: x-large;
    }

    .header-div p {
        margin-top: 1rem;
        line-height: 1.5rem;
    }

    .checkout{
        width: auto;
    }
    .cost-list{
        height: 100%;
    }
}