
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width: 100vw;
    height: 100vh;
    
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}


.main-container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(206, 94%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 71vh;
    width: 53vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
}

.steps-container{
    display: flex;
    justify-content: center;
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps{
    height: 40.5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-left: 3px;
}
.step-outer{
    display: flex;
    color: white;
}
.steps-inner{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps-inner p{
    font-size: 0.75rem;
    font-weight: 400;
}
.steps-inner h3{
    font-weight: 600;
    font-size: 0.95rem;
}
.circle{
    font-size: 0.95rem;
    font-weight: 600;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#circle-2{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    border-color: hsl(206, 94%, 87%);
    
}
.personal-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.per-content{
    height: 90%;
    /* padding: 1rem; */
    padding-left: 6rem;
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.7%;
}
.header-div h1{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}
.header-div p{
    font-weight: 400;
    color: hsl(231, 11%, 63%)
}
.card-div{
    height: 80.5%;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards{
    /* background-color: lightcoral; */
    height: 46%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.card{
    height: 67%;
    width: 23%; 
    border-radius: 10px;
    margin-top: 4px;
    padding: 1rem;
    border: 2px solid hsl(231, 11%, 63%);
    transition: background-color,border-color 0.3s ease; 
}

.card.clicked {
    border-color: hsl(243, 100%, 62%);
    background-color: hsl(231, 100%, 99%);
}
.card :hover{
    cursor: pointer;
}
.card:focus {
    border-color: hsl(243, 100%, 62%);
    background-color: hsl(231, 100%, 99%);
    cursor: pointer;
}
.card-img{
    height: 70%;
}
.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 29%;
}

.card-detail h2{
    font-weight: 600;
    font-size: 1rem;
    color: hsl(213, 96%, 18%);
}
.card-detail p{
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}
.card-detail h6{
    font-weight: 600;
    font-size: 0.75rem;
    color: hsl(213, 96%, 18%);
}


.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
    height: 3rem;
    border-radius: 7px;
    background-color:  hsl(217, 100%, 97%);
    width: 90%;
}
.toggle p{
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    font-size: 0.9rem;
}



       /* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  

.btn-2-div{
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back{
    text-decoration: none;
    color: hsl(231, 11%, 63%);
    font-weight: 600;
}
.next{
    height: 100%;
    text-decoration: none;
}
.btn{
    height: 100%;
   width: 7.7rem;
   border-radius: 8px;
   margin-right: 3.3rem;
   border: none;
   background-color: hsl(213, 96%, 18%);
   color: white;
   font-size: medium;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.3s ease; 
}
.btn:hover{
    opacity: 0.85;
}


@media screen and (max-width: 375px) {

    .main-container{
        display: block;
        bottom: 0;
        height: 100vh;
    }
    .container{
        height: auto;
        width: auto;
        flex-direction: column;
        padding: 0;
        background: url(../assets/images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        border-radius: 0;
    }

    .steps-container{
        width: 70%;
        height: auto;
        border: none;
        background: none;
        align-self: center;
    }

    .steps{
        flex-direction: row;
    }
    .steps-inner{
        display: none;
    }

    .personal-info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 86vh;
    }
    .per-content{
        padding: 2rem;
        margin-top: 2rem;
        width: 75%;
        background-color: white;
        border-radius: 10px;
    }
    

    
    .btn-2-div{
        position: absolute;
        right: 0;
        bottom: -78px;
        width: 92vw;
        height: 2.9rem;
        padding: 1rem;
    }

    .btn{
        margin: 0;
    }
    .header-div{
        height: auto;
    }
    .header-div h1 {
        font-size: x-large;
    }

    .header-div p {
        margin-top: 1rem;
    }


    .card-div{
        width: 100%;
        height: 78.5%;
    }
    .cards{
        flex-direction: column;
        width: 100%;
        height: 78%;
    }

    .card{
        height: 3rem !important;
        display: flex;
        width: auto;
        margin: 0;
    }

    .card-detail{
        height: auto !important;
        margin-left: 1rem;
    }

    .toggle{
        position:static;
        width: auto;
    }
}