
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width: 100vw;
    height: 100vh;
    
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}


.main-container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 71vh;
    width: 53vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
}

.steps-container{
    display: flex;
    justify-content: center;
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps{
    height: 40.5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-left: 3px;
}
.step-outer{
    display: flex;
    color: white;
}
.steps-inner{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps-inner p{
    font-size: 0.75rem;
    font-weight: 400;
}
.steps-inner h3{
    font-weight: 600;
    font-size: 0.95rem;
}
.circle{
    font-size: 0.95rem;
    font-weight: 600;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#circle-1{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    border-color:hsl(206, 94%, 87%);
}
.personal-info{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.per-content{
    width: 100%;
    height: 90%;
    /* padding: 1rem; */
    padding-left: 6rem;
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.7%;
}
.header-div h1{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
}
.header-div p{
    font-weight: 400;
    color: hsl(231, 11%, 63%)
}

.form-div{
    height: 79%;
    /* margin-bottom: 3.2rem; */
    width: 72%;
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}
.lab-inp-div {
    margin-bottom: 15px;
    position: relative;
  }
  
  .lab-inp-div label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .lab-inp-div input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
  }
  
  .lab-inp-div .error-message {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: red;
  }
  
.lab-inp-div{
    display: flex;
    flex-direction: column;
}

.btn-div{
    height: 12%;
    display: flex;
    justify-content: flex-end;
}
.btn-div a{
    height: 100%;
    margin-right: 3.3rem;
}
.btn{
   height: 100%;
   width: 7.7rem;
   border-radius: 8px;
   border: none;
   background-color: hsl(213, 96%, 18%);
   color: white;
   font-size: medium;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.3s ease; 
}
.btn:hover{
    opacity: 0.85;
}

.lab-inp-div input{
    height: 1.8rem;
    border-radius: 10px;
    margin-top: 9px;
    border: 2px solid hsl(231, 11%, 63%);
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(213, 96%, 18%);
    transition: border-color 0.3s;
}

.lab-inp-div input:focus {
    border-color: #00f;
    outline: none;
}
::placeholder {
    color: hsl(231, 11%, 63%);
}

.detail-form label{
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
}


@media screen and (max-width: 375px) {

    .main-container{
        display: block;
        bottom: 0;
        /* height: 100vh; */
    }
    .container{
        height: auto;
        width: auto;
        flex-direction: column;
        padding: 0;
        background: url(../assets/images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        border-radius: 0;
    }

    .steps-container{
        width: 70%;
        height: auto;
        border: none;
        background: none;
        align-self: center;
    }

    .steps{
        flex-direction: row;
    }
    .steps-inner{
        display: none;
    }

    .personal-info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66vh;
    }
    .per-content{
        padding: 2rem;
        margin-top: 2rem;
        width: 75%;
        background-color: white;
        border-radius: 10px;
    }
    .form-div{
        width: 100%;
        height: 68%;
    }

    .btn-div{
        position: absolute;
        right: 6px;
        bottom: -5.5rem;
        width: 100vw;
        height: 3rem;
        padding: 1rem;
    }
    .header-div{
        height: auto;
    }
    .header-div h1 {
        font-size: x-large;
    }

    .header-div p {
        margin-top: 1rem;
    }
    
    .lab-inp-div input {
        height: 1.8rem;
        border-radius: 2px;
        margin-top: 9px;
        border: 1px solid hsl(231, 11%, 63%);
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: hsl(213, 96%, 18%);
        transition: border-color 0.3s;
    }

    .detail-form{
        height: 100%;
    }

    .error-message {
        width: 50%;
    }
}